[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/doxygen"]
	path = external/doxygen
	url = https://github.com/doxygen/doxygen.git
