name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update 
          sudo apt-get install -y cmake ninja-build

      - name: Configure
        run: cmake -B build -G Ninja -DBUILD_TESTS=ON

      - name: Build
        run: |
          cmake --build build

      - name: Run Tests
        run: |
          ctest --output-on-failure
        working-directory: build
